---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Footer from '../../components/Footer.astro';
import { getCollection, getEntryBySlug } from 'astro:content';

export async function getStaticPaths() {
  const entries = await getCollection('steam', ({ data }) =>
    import.meta.env.PROD ? !data.draft : true
  );
  return entries.map((e) => ({ params: { slug: e.slug } }));
}

const { slug } = Astro.params;
const entry = await getEntryBySlug('steam', slug!);
if (!entry) throw new Error(`Nota no encontrada: ${slug}`);

const { Content } = await entry.render();
const data = entry.data;

function fmtFecha(d: Date) {
  return new Intl.DateTimeFormat('es-PA', {
    day: '2-digit',
    month: 'long',
    year: 'numeric',
    timeZone: 'America/Panama',
  }).format(d);
}

const fecha = fmtFecha(data.pubDate);
---

<Layout title={`${data.title} · steam`} description={data.description}>
  <Navbar />
      <section class="markdown">
        <Content />
        <div class="post-footer">
          <p>Publicado: <span>{fecha}</span></p>
          <p>Etiqueta: #<span>{data.tag}</span></p>
        </div>
      </section>
  <Footer />
</Layout>


